
@{
    ViewBag.Title = "index";
}
<br />
<table id="Users" class="table table-condensed table-hover table-striped" data-navigation="0">
    <thead>
        <tr>
            <th data-column-id="Id" data-formatter="edit"></th>
            <th data-column-id="UserName">User Name</th>
            <th data-column-id="Role">Role</th>
        </tr>
    </thead>
</table>
@Html.Partial("_EditUser")

@section Scripts {
    @Scripts.Render("~/Scripts/users.js")
}